<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Calc" Language="1033" Version="1.0.0.0"
           Manufacturer="Test" UpgradeCode="12345678-1234-1234-1234-123456789012">
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="setup.cab" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Calc" Level="1">
      <ComponentRef Id="Comp1" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="App" />
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Comp1" Guid="*" Win64="no">
        <File Id="PwnedExe" Source="pwned.exe" KeyPath="yes" DiskId="1" />
        <RemoveFolder Id="RemoveApp" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Test\Calc" Name="installed" Type="integer" Value="1" />
      </Component>
    </DirectoryRef>

    <InstallExecuteSequence>
      <Custom Action="RunPwned" After="InstallFinalize">NOT Installed</Custom>
    </InstallExecuteSequence>

    <!-- type 18: launches the installed pwned.exe (benign PWNED message-box PoC) -->
    <CustomAction Id="RunPwned" FileKey="PwnedExe" ExeCommand=""
                  Return="ignore" Impersonate="yes" />
  </Product>
</Wix>
